<h1>{{ title }}</h1>
<section id="metadata">
    <h2 style="display:none;">Metadata</h2>
    <dl>
        <dt>IRI</dt>
        <dd><code>{{ uri }}</code></dd>
        {%- if publishers|length > 0 %}
        <dt>Publisher(s)</dt>
        <dd>
            {%- for publisher in publishers %}
            {{ publisher }}<br/>
            {%- endfor %}
        </dd>
        {%- endif %}
        {%- if creators|length > 0 %}
        <dt>Creator(s)</dt>
        <dd>
            {%- for creator in creators %}
            {{ creator }}<br/>
            {%- endfor %}
        </dd>
        {%- endif %}
        {%- if contributors|length > 0 %}
        <dt>Contributors(s)</dt>
        <dd>
            {%- for contributor in contributors %}
            {{ contributor }}<br/>
            {%- endfor %}
        </dd>
        {%- endif %}
        {%- if created is not none %}
        <dt>Created</dt>
        <dd>{{ created }}</dd>
        {%- endif %}
        {%- if modified is not none %}
        <dt>Modified</dt>
        <dd>{{ modified }}</dd>
        {%- endif %}
        {%- if issued is not none %}
        <dt>Issued</dt>
        <dd>{{ issued }}</dd>
        {%- endif %}
        {%- if version_info is not none %}
        <dt>Version Information</dt>
        <dd>{{ version_info }}</dd>
        {%- endif %}
        {%- if version_uri is not none %}
        <dt>Version IRI</dt>
        <dd>{{ version_uri }}</dd>
        {%- endif %}
        {%- if rights is not none and license is not none %}
        <dt>License &amp; Rights</dt>
        <dd>
            {{ license }}<br />
            {{ rights }}
        </dd>
        {%- elif rights is not none and license is none %}
        <dt>Rights</dt>
        <dd>{{ rights }}</dd>
        {%- elif rights is none and license is not none %}
        <dt>License</dt>
        <dd>{{ license }}</dd>
        {%- endif %}
        <dt>Profile RDF</dt>
        <dd>{{ prof_rdf }}</dd>
    </dl>
    {%- if description is not none %}
    <h2>Description</h2>
    <div id="description">
        {{ description }}
    </div>
    {%- endif %}
</section>
