<h1>{{ label }}</h1>
<h3><em>A Profile</em></h3>
<section id="metadata">
    <h2 style="display:none;">Metadata</h2>
    <dl>
        <dt>URI</dt>
        <dd><code>{{ uri }}</code></dd>
        {% if profiles|length > 0 %}
        <dt><a href="https://www.w3.org/TR/dx-prof/#Property:isProfileOf">Is Profile Of</a></dt>
        <dd>
            {%- for profile in profiles %}
            <a href="{{ profile }}">{{ profile }}</a><br/>
            {%- endfor %}
        </dd>
        {% endif %}
        {%- if publishers|length > 0 %}
        <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/publisher">Publisher</a>(s)</dt>
        <dd>
            {%- for publisher in publishers %}
            {{ publisher }}<br/>
            {%- endfor %}
        </dd>
        {%- endif %}
        {%- if creators|length > 0 %}
        <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/creator">Creator</a>(s)</dt>
        <dd>
            {%- for creator in creators %}
            {{ creator }}<br/>
            {%- endfor %}
        </dd>
        {%- endif %}
        {%- if contributors|length > 0 %}
        <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/contributor">Contributor</a>(s)</dt>
        <dd>
            {%- for contributor in contributors %}
            {{ contributor }}<br/>
            {%- endfor %}
        </dd>
        {%- endif %}
        {%- if created is not none %}
        <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/created">Created</a></dt>
        <dd>{{ created }}</dd>
        {%- endif %}
        {%- if modified is not none %}
        <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/modified">Modified</a></dt>
        <dd>{{ modified }}</dd>
        {%- endif %}
        {%- if issued is not none %}
        <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/issued">Issued</a></dt>
        <dd>{{ issued }}</dd>
        {%- endif %}
        {%- if version_info is not none %}
        <dt>Version Information</dt>
        <dd>{{ version_info }}</dd>
        {%- endif %}
        {%- if version_uri is not none %}
        <dt>Version URI</dt>
        <dd>{{ version_uri }}</dd>
        {%- endif %}
        {%- if rights is not none and license is not none %}
        <dt>License &amp; Rights</dt>
        <dd>
            {{ license }}<br />
            {{ rights }}
        </dd>
        {%- elif rights is not none and license is none %}
        <dt>Rights</dt>
        <dd>{{ rights }}</dd>
        {%- elif rights is none and license is not none %}
        <dt>License</dt>
        <dd>{{ license }}</dd>
        {%- endif %}
        <dt>Profile RDF</dt>
        <dd>{{ prof_rdf }}</dd>
    </dl>
    {%- if resource_descriptors|length > 0 %}
      <dt><a class="proplink" href="https://www.w3.org/TR/dx-prof/#Property:hasResource">Has Resource Descriptor(s)</a></dt>
    <dd>
        {%- for rdid, rd in resource_descriptors.items() %}
          <a href="#{{ rdid }}">{{ rd["label"] }}</a><br/>
        {%- endfor %}
    </dd>
    {%- endif %}
    {%- if comment is not none %}
    <h2>Description</h2>
    <div id="comment">
        {{ comment }}
    </div>
    {%- endif %}
</section>
