<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ label }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {%  if css is not none %}
    <style>
{{ css }}
    </style>
    {% else %}
    <link rel="stylesheet" type="text/css" href="style.css">
    {%  endif %}
    <script type="application/ld+json">
      {{ schemaorg }}
    </script>
</head>
<body>
  <div id="pylode">made by <a href="http://github.com/rdflib/pyLODE">
    <span style="color:#329545;">p</span><span style="color:#f9cb33;">y</span>LODE</a>
    <span style="font-size:smaller;">{{ pylode_version }}</span>
  </div>
  {{ profile|safe }}
  {%- if has_resource_descriptors %}
  <section id="resource_descriptors">
      <h2>Resource Descriptors</h2>
  {#    <ul class="hlist">#}
  {#        {%- for rdid, rd in resource_descriptors.items() %}#}
  {#        <a href="#{{ rdid }}">{{ rd["label"] }}</a><br/>#}
  {#        {%- endfor %}#}
  {#    </ul>#}
      {%- for rdid, rd in resource_descriptors.items() %}
      {{ rd["html"]|safe }}
      {%- endfor %}
  </section>
  {%- endif %}
  {{ namespaces|safe }}
</body>
</html>