<div class="entity resource_descriptor" id="{{ fid }}">
    <h3>{{ label }}</h3>
    <table>
        {%- if comment is not none %}
        <tr>
          <th><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/description">Description</a></th>
          <td>
            {{- comment -}}
          </td>
        </tr>
        {% endif %}
        {%- if artifact is not none %}
        <tr>
          <th><a class="proplink" href="https://www.w3.org/TR/dx-prof/#Property:hasArtifact">Artifact</a></th>
          <td>
            {{ artifact }}
          </td>
        </tr>
        {% endif %}
        {%- if roles|length > 0 %}
        <tr>
          <th><a class="proplink" href="https://www.w3.org/TR/dx-prof/#Property:hasRole">Role(s)</a></th>
          <td>
            {% for r in roles %}
              {{ r }}<br />
            {% endfor %}
          </td>
        </tr>
        {% endif %}
        {%- if conforms|length > 0 %}
        <tr>
          <th><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/conformsTo">Conforms to</a></th>
          <td>
            {% for c in conforms %}
              {{ c }}<br />
            {% endfor %}
          </td>
        </tr>
        {% endif %}
        {%- if format is not none %}
        <tr>
          <th><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/format">Format</a></th>
          <td>
            {{- format -}}
          </td>
        </tr>
        {% endif %}
    </table>
</div>