[tool.poetry]
name = "pylode"
version = "3.0.5"
description = "An OWL ontology documentation tool using Python, based on LODE."
authors = ["Nicholas Car <nick@kurrawong.net>"]
readme = "README.rst"

[tool.poetry.dependencies]
python = "^3.9"
rdflib = "^6.1.1"
Markdown = "^3.3.7"
dominate = "^2.6.0"
html5lib = "^1.1"

[tool.poetry.scripts]
pylode = "pylode.cli:main"

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
black = "^22.3.0"
flake8 = "^4.0.1"
pyinstaller = { version = "^5.1", python = ">=3.9,<3.11" }

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
