        #pylode {
            position: fixed;
            top: 205px;
            left: -150px;
            font-size: small;
            transform: rotate(-90deg);
            color: grey;
        }
        #pylode a {
            font-size: 1.5em;
            font-weight: bold;
            text-decoration: none;
            color: #005A9C;
        }
        #pylode a:hover {
            color: #333;
        }
        #pylode #p {
            color: #329545;
        }
        #pylode #y {
            color: #f9cb33;
        }
        #pylode #version {
            font-size: 1.0em;
        }

        #profile {
            font-style: italic;
            font-size: 1.25em;
            color: darkred!important;
        }

        .cardinality {
            font-style: italic;
            color: #aa00aa;
        }

        dl {
            /*border: 1px solid navy;*/
            /*padding:5px;*/
        }

        dt {
            font-weight: bold;
            padding: 0;
        }

        dd {
            margin-bottom: 10px;
            padding-top: 7px;
        }

        #metadata ul,
        #classes ul {
            list-style-type: none;
        }

        #metadata ul li,
        #classes ul li {
            margin-left: -40px;
        }

        ul.hlist {
            list-style-type: none;
            border: 1px solid navy;
            padding:5px;
            background-color: #F4FFFF;
        }

        ul.hierarchy {
            border: 1px solid navy;
            padding: 5px 25px 5px 25px;
            background-color: #F4FFFF;
        }


        ul.hlist li {
            display: inline;
            margin-right: 10px;
        }

        .entity {
            border: 1px solid navy;
            margin:5px 0 5px 0;
            padding: 5px;
        }

        .entity th {
            width: 150px;
            vertical-align: top;
        }

        .entity th,
        .entity td {
            padding-bottom: 20px;
        }

        .entity table th {
            text-align: left;
        }

        section#overview img {
            max-width: 1000px;
        }

        h1, h2, h3, h4, h5, h6 {
            text-align: left
        }
        h1, h2, h3 {
            color: #005A9C; background: white
        }
        h1 {
            font: 170% sans-serif;
            line-height: 110%;
        }
        h2 {
            font: 140% sans-serif;
            margin-top:40px;
        }
        h3 {
            font: 120% sans-serif;
            margin-top: 20px;
            padding-bottom: 5px;
            border-bottom: 1px solid navy;
        }
        h4 { font: bold 100% sans-serif }
        h5 { font: italic 100% sans-serif }
        h6 { font: small-caps 100% sans-serif }

        body {
            padding: 2em 70px 2em 70px;
            margin: 0;
            font-family: sans-serif;
            color: black;
            background: white;
            background-position: top left;
            background-attachment: fixed;
            background-repeat: no-repeat;
            text-align: left;
        }

        section {
            max-width: 1500px;
        }

        .figure {
            margin-bottom: 20px;
        }

        :link { color: #00C; background: transparent }
        :visited { color: #609; background: transparent }
        a:active { color: #C00; background: transparent }

        .sup-c,
        .sup-op,
        .sup-fp,
        .sup-dp,
        .sup-ap,
        .sup-p,
        .sup-ni,
        .sup-con,
        .sup-col {
            cursor:help;
        }

        .sup-c {
            color:orange;
        }

        .sup-op {
            color:navy;
        }

        .sup-fp {
            color:lightskyblue;
        }

        .sup-dp {
            color:green;
        }

        .sup-ap {
            color:darkred;
        }

        .sup-p {
            color:black;
        }

        .sup-ni {
            color:brown;
        }

        .sup-con {
            color:orange;
        }

        .sup-col {
            color:darkred;
        }

        sup {
            margin-left: -3px;
        }
        code {
            font-size: large;
            color: darkred;
        }

        /* less prominent links for properties */
        .proplink {
            color: #336;
            text-decoration: none;
        }

#toc {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    border: solid 1px navy;
    font-size: small;
    width: 180px;
}
#toc h3 {
    margin-top: 5px;
}

#toc ul {
    list-style: none;
    padding-left: 0;
}

#toc .first > li {
    margin-top: 5px;
}

#toc .second,
#toc .third {
    padding-left: 10px;
}

#content {
    width: calc(100% - 150px);
}

.hover_property {
    cursor: help;
    text-decoration: none;
    border-bottom: dashed 1px;
}

.setclass {
    list-style-type: none;
}

code{
    word-wrap: break-word;
  }
table {
    table-layout: fixed;
    width: 100%;
}
td {
    word-wrap: break-word;
}
#legend table.entity {
    width: 25%;
}