<div class="entity collection" id="{{ fid }}">
        <h3>{{ prefLabels[0][0] }}<sup title="Collection" class="sup-col">col</sup></h3>
            {%- if prefLabels|length > 1 %}
            <h4>
              {%- for prefLabel in prefLabels %}
              {{ prefLabel[0] }} ({{ prefLabel[1] }})
              {% if not loop.last %}, {% endif %}
              {%- endfor %}
            </h4>
            {%- endif %}
        <table>
            <tr>
                <th>URI</th>
                <td><code>{{ uri }}</code></td>
            </tr>
            {%- if definitions|length > 0 %}
            <tr>
                <th>Definition</th>
                <td>
                    {{- definitions[0] -}}
                </td>
            </tr>
            {%- endif %}
            {%- if scopeNotes|length > 0 %}
            <tr>
                <th>Scope Notes</th>
                <td>
                    {{- scopeNotes[0] -}}
                </td>
            </tr>
            {%- endif %}
            {%- if source is not none %}
            <tr>
                <th>Source</th>
                <td>
                  <a href="{{- source -}}">{{- source -}}</a>
                </td>
            </tr>
            {%- endif %}
            {%- if members|length > 0 %}
            <tr>
                <th>Members</th>
                <td>
                    {%- for member in members %}
                    {{ member }}{% if not loop.last %}, {% endif %}
                    {%- endfor %}
                </td>
            </tr>
            {% endif %}
        </table>
    </div>
