<div class="entity concept" id="{{ fid }}">
        <h3>{{ default_prefLabel }}<sup title="Concept" class="sup-con">con</sup></h3>
            {%- if prefLabels|length > 1 %}
            <h4>
              {%- for prefLabel in prefLabels %}
              {{ prefLabel[0] }} ({{ prefLabel[1] }})
              {% if not loop.last %}, {% endif %}
              {%- endfor %}
            </h4>
            {%- endif %}
        <table>
            <tr>
                <th>URI</th>
                <td><code>{{ uri }}</code></td>
            </tr>
            {%- if definitions|length > 0 %}
            <tr>
                <th>Definition</th>
                <td>
                    {%- for definition in definitions %}
                    {{ definition }}<br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
            {%- if scopeNotes|length > 0 %}
            <tr>
                <th>Scope Note</th>
                <td>
                    {%- for scopeNote in scopeNotes %}
                    {{ scopeNote }}<br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
            {%- if examples|length > 0 %}
            <tr>
                <th>Example</th>
                <td>
                    {%- for example in examples %}
                    <pre>{{ example }}</pre><br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
            {%- if source is not none %}
            <tr>
                <th>Source</th>
                <td>
                  <a href="{{- source -}}">{{- source -}}</a>
                </td>
            </tr>
            {%- endif %}
            {%- if broaders|length > 0 %}
            <tr>
                <th>Broader Concepts</th>
                <td>
                    {%- for broader in broaders %}
                    {{ broader }}<br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
            {%- if narrowers|length > 0 %}
            <tr>
                <th>Narrower Concepts</th>
                <td>
                    {%- for narrower in narrowers %}
                    {{ narrower }}<br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
            {%- if exactMatches|length > 0 %}
            <tr>
                <th>Exact Matches</th>
                <td>
                    {%- for exactMatch in exactMatches %}
                    {{ exactMatch }}<br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
            {%- if closeMatches|length > 0 %}
            <tr>
                <th>Close Matches</th>
                <td>
                    {%- for closeMatch in closeMatches %}
                    {{ closeMatch }}<br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
            {%- if broadMatches|length > 0 %}
            <tr>
                <th>Broad Matches</th>
                <td>
                    {%- for broadMatch in broadMatches %}
                    {{ broadMatch }}<br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
            {%- if narrowMatches|length > 0 %}
            <tr>
                <th>Narrow Matches</th>
                <td>
                    {%- for narrowMatch in narrowMatches %}
                    {{ narrowMatch }}<br/>
                    {%- endfor %}
                </td>
            </tr>
            {%- endif %}
        </table>
    </div>