<h1>{{ title }}</h1>
<h3><em>A taxonomy</em></h3>
  <section id="conceptscheme">
      <h2 style="display:none;">Concept Scheme</h2>
      <dl>
          <dt>URI</dt>
          <dd><code>{{ uri }}</code></dd>
          {%- if publishers|length > 0 %}
          <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/publisher">Publisher</a>(s)</dt>
          <dd>
              {%- for publisher in publishers %}
              {{ publisher }}<br/>
              {%- endfor %}
          </dd>
          {%- endif %}
          {%- if creators|length > 0 %}
            <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/creator">Creator</a>(s)</dt>
          <dd>
              {%- for creator in creators %}
              {{ creator }}<br/>
              {%- endfor %}
          </dd>
          {%- endif %}
          {%- if contributors|length > 0 %}
          <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/contributor">Contributor</a>(s)</dt>
          <dd>
              {%- for contributor in contributors %}
              {{ contributor }}<br/>
              {%- endfor %}
          </dd>
          {%- endif %}
          {%- if created is not none %}
          <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/created">Created</a></dt>
          <dd>{{ created }}</dd>
          {%- endif %}
          {%- if modified is not none %}
          <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/modified">Modified</a></dt>
          <dd>{{ modified }}</dd>
          {%- endif %}
          {%- if issued is not none %}
          <dt><a class="proplink" href="https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/issued">Issued</a></dt>
          <dd>{{ issued }}</dd>
          {%- endif %}
          {%- if version_info is not none %}
          <dt>Version Information</dt>
          <dd>{{ version_info }}</dd>
          {%- endif %}
          {%- if version_uri is not none %}
          <dt>Version URI</dt>
          <dd>{{ version_uri }}</dd>
          {%- endif %}
          {%- if rights is not none and license is not none %}
          <dt>License &amp; Rights</dt>
          <dd>
              {{ license }}<br />
              {{ rights }}
          </dd>
          {%- elif rights is not none and license is none %}
          <dt>Rights</dt>
          <dd>{{ rights }}</dd>
          {%- elif rights is none and license is not none %}
          <dt>License</dt>
          <dd>{{ license }}</dd>
          {%- endif %}
          {%- if source is not none %}
          <dt>Source</dt>
          <dd>{{ source }}</dd>
          {%- endif %}
          <dt>Ontology RDF</dt>
          <dd>{{ ont_rdf }}</dd>
          {%- if repository is not none %}
          <dt>Code Repository</dt>
          <dd><a href="{{ repository }}">{{ repository }}</a></dd>
          {%- endif %}
      </dl>
      {%- if description is not none %}
      <h2>Description</h2>
      <div id="description">
          {{ description }}
      </div>
      {%- endif %}
      {%- if historyNote is not none %}
      <p><strong>History Note:</strong> {{ historyNote }}</p>
      {%- endif %}
  </section>
  <section id="toc">
      <h2>Table of Contents</h2>
      <ol>
          {%- if has_collections %}
          <li><a href="#collections">Collections</a></li>
          {%- endif %}
          {%- if has_concepts %}
          <li><a href="#concepts">Concepts</a></li>
          {%- endif %}
          <li><a href="#namespaces">Namespaces</a></li>
          <li><a href="#legend">Legend</a></li>
      </ol>
  </section>
  <section id="overview">
      <h2>Overview</h2>
      <div class="figure">
          <div style="width:500px; height:500px; background-color: black;">&nbsp;</div>
          <div class="caption"><strong>Figure 1:</strong> Taxonomy overview</div>
      </div>
  </section>
