<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {%  if css is not none %}
    <style>
{{ css }}
    </style>
    {% else %}
    <link rel="stylesheet" type="text/css" href="style.css">
    {%  endif %}
    <script type="application/ld+json">
      {{ schemaorg }}
    </script>
</head>
<body>
  <div id="pylode">made by <a href="http://github.com/rdflib/pyLODE">
    <span style="color:#329545;">p</span><span style="color:#f9cb33;">y</span>LODE</a>
    <span style="font-size:smaller;">{{ pylode_version }}</span>
  </div>
  {{ metadata|safe }}
  {{ classes|safe }}
  {{- properties|safe }}
  {% if named_individuals|length > 0 %}
  {{ named_individuals|safe }}
  {% endif %}
  {{ namespaces|safe }}
  <section id="legend">
      <h2>Legend</h2>
      <table class="entity">
          <tr><td><sup class="sup-c" title="Classes">c</sup></td><td>Classes</td></tr>
          <tr><td><sup class="sup-op" title="Object Properties">op</sup></td><td>Object Properties</td></tr>
          <tr><td><sup class="sup-fp" title="Functional Properties">fp</sup></td><td>Functional Properties</td></tr>
          <tr><td><sup class="sup-dp" title="Data Properties">dp</sup></td><td>Data Properties</td></tr>
          <tr><td><sup class="sup-ap" title="Annotation Properties">dp</sup></td><td>Annotation Properties</td></tr>
          <tr><td><sup class="sup-p" title="Properties">p</sup></td><td>Properties</td></tr>
          <tr><td><sup class="sup-ni" title="Named Individuals">ni</sup></td><td>Named Individuals</td></tr>
      </table>
  </section>
</body>
</html>