#pylode {
    position: fixed;
    top: 80px;
    left: -60px;
    font-size: small;
    transform: rotate(-90deg);
    color: grey;
}
#pylode a {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #005A9C;
}
#pylode a:hover {
    color: #333;
}

.cardinality {
    font-style: italic;
    color: #aa00aa;
}

dt {
    font-weight: bold;
    padding: 5px 0 5px 0;
}

ul.hlist {
    list-style-type: none;
    border: 1px solid navy;
    padding:5px;
    background-color: #F4FFFF;
}


ul.hlist li {
    display: inline;
    margin-right: 10px;
}

.entity {
    border: 1px solid navy;
    margin:5px 0 5px 0;
    padding: 5px;
}

.entity th {
    width: 150px;
    vertical-align: top;
}

.entity th,
.entity td {
    padding-bottom: 20px;
}

.entity table th {
    text-align: left;
}

section#overview img {
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left
}
h1, h2, h3 {
    color: #005A9C; background: white
}
h1 {
    font: 170% sans-serif;
    line-height: 110%;
}
h2 {
    font: 140% sans-serif;
    margin-top:40px;
}
h3 {
    font: 120% sans-serif;
    margin-top: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid navy;
}
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }


body {
    padding: 2em 70px 2em 70px;
    margin: 0;
    font-family: sans-serif;
    color: black;
    background: white;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;
}

section {
    max-width: 1500px;
}

.figure {
    margin-bottom: 20px;
}

:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

.sup-c,
.sup-op,
.sup-fp,
.sup-dp,
.sup-ap,
.sup-p,
.sup-ni {
    cursor:help;
    margin-left: 3px;
}

.sup-c {
    color:orange;
}

.sup-op {
    color:navy;
}

.sup-fp {
    color:lightskyblue;
}

.sup-dp {
    color:green;
}

.sup-ap {
    color:darkred;
}

.sup-p {
    color:black;
}

.sup-ni {
    color:brown;
}

code {
    font-size: large;
    color: darkred;
}
