#pylode {
    position: fixed;
    top: 80px;
    left: -60px;
    font-size: small;
    transform: rotate(-90deg);
    color: grey;
}
#pylode a {
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: #005A9C;
}
#pylode a:hover {
    color: #333;
}

.cardinality {
    font-style: italic;
}

dt {
    font-weight: bold;
    padding: 5px 0 5px 0;
}

ul.hlist {
    list-style-type: none;
    border: 1px solid navy;
    padding:5px;
    background-color: #F4FFFF;
}


ul.hlist li {
    display: inline;
    margin-right: 10px;
}

.entity {
    border: 1px solid navy;
    margin:5px 0 5px 0;
    padding: 5px;
}

.entity th {
    width: 150px;
    vertical-align: top;
}

.entity th,
.entity td {
    padding-bottom: 20px;
}

.entity table th {
    text-align: left;
}

.sup-c {
    color: orange;
}

.sup-op {
    color: navy;
}

.sup-dp {
    color: green;
}

.sup-ap {
    color: maroon;
}

.sup-ni {
    color: brown;
}

section#overview img {
    max-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left
}
h1, h2, h3 {
    color: #005A9C; background: white
}
h1 {
    font: 170% sans-serif;
    line-height: 110%;
}
h2 {
    font: 140% sans-serif;
    margin-top:40px;
}
h3 {
    font: 120% sans-serif;
    margin-top: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid navy;
}
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }


body {
    padding: 2em 1em 2em 70px;
    margin: 0;
    font-family: sans-serif;
    color: black;
    background: white;
    background-position: top left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: justify;

}

:link { color: #00C; background: transparent }
:visited { color: #609; background: transparent }
a:active { color: #C00; background: transparent }

.type-c,
.type-op,
.type-dp,
.type-ap,
.type-ni {
    cursor:help;
    margin-left: 3px;
}

.type-c {
    color:orange;
}

.type-op {
    color:navy;
}

.type-dp {
    color:green;
}

.type-ap {
    color:maroon;
}

.type-ni {
    color:brown;
}

code {
    font-size: large;
    color: darkred;
}


/*
    Primer.css
 */
/* Style for a "Recommendation" */

/*
   Copyright 1997-2003 W3C (MIT, ERCIM, Keio). All Rights Reserved.
   The following software licensing rules apply:
   http://www.w3.org/Consortium/Legal/copyright-software */

/* $Id: base.css,v 1.25 2006/04/18 08:42:53 bbos Exp $ */



a:link img, a:visited img { border-style: none } /* no border on img links */

a img { color: white; }        /* trick to hide the border in Netscape 4 */
@media all {                   /* hide the next rule from Netscape 4 */
    a img { color: inherit; }    /* undo the color change above */
}

th, td { /* ns 4 */
    font-family: sans-serif;
}



.hide { display: none }

div.head { margin-bottom: 1em }
div.head h1 { margin-top: 2em; clear: both }
div.head table { margin-left: 2em; margin-top: 2em }

p.copyright { font-size: small }
p.copyright small { font-size: small }

pre { margin-left: 2em }
/*
p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
*/
dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */
dt { font-weight: bold }

pre, code { font-family: monospace } /* navigator 4 requires this */

ul.toc, ol.toc {
    list-style: disc;		/* Mac NS has problem with 'none' */
    list-style: none;
}

@media aural {
    h1, h2, h3 { stress: 20; richness: 90 }
    .hide { speak: none }
    p.copyright { volume: x-soft; speech-rate: x-fast }
    dt { pause-before: 20% }
    pre { speak-punctuation: code }
}




/*
    owl.css
 */
.RFC2119 {
    text-transform: lowercase;
    font-style: italic;
}
.nonterminal {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 95%;
}
#abstract br {
    /* doesn't work right SOMETIMES
    margin-bottom: 1em;   */
}
.name {
    font-family: monospace;
}
.buttonpanel {
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 1ex;
    padding-bottom: 0.6ex;
    border: 1px dotted black;
}
.grammar {
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 1ex;
    padding-bottom: 0.6ex;
    border: 1px dashed #2f6fab;
    font-family: monospace;
}
.image {
    text-align: center;
}
.centered {
    text-align: center;
    padding-top: 4ex;
    padding-bottom: 4ex;
}
.centered table {
    margin: 0 auto;
    text-align: left;
}

.indent {
    margin-left: 20px;
}
.atrisknote {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px blue;
    background-color: #FFA;
}
.atrisknotehead {
    font-style: italic;
}

/* Stying the examples. */

.anexample:before {
    content: "Example:";
    font-family: sans-serif;
    font-size: 1.6ex;
    font-weight: bold;
}
.anexample {
    margin-top: 1ex;
    margin-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    padding-top: 1ex;
    padding-bottom: 0.6ex;
    border: 1px dashed #2f6fab;
    background-color: #f9f9f9;
}
.anexample table {
    background-color: #f9f9f9;
}

/* Styling the parts in the functional-style syntax. */

div.fss {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: monospace;
}
table.fss {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}
table.fss caption.fss {
    font-size: 1.5ex;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
table.fss td:first-child {
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
}

/* Styling the parts in the RDF syntax. */

div.rdf{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: monospace;
}
table.rdf {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}
table.rdf caption.rdf {
    font-size: 1.5ex;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
}
table.rdf td:first-child {
    font-family: monospace;
    padding-left: 20px;
    padding-right: 20px;
    width: 60%;
}

/* Styling the XML syntax. */

div.xmlsyn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: monospace;
}
div.axioms {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Other styles. */

table.complexity td {
    text-align: center;
}
table.allname td {
    font-family: monospace;
}
table.canonicalparsing {
    margin-left: 20px;
    border-style: none;
}
table.canonicalparsing td {
    vertical-align: top;
    padding: 2px 2px 2px 2px;
}
table.canonicalparsing td.two {
    padding-left: 30px;
}

/* The following are classes for templates used in the editing process. */

.review {
    padding: 5px;
    border: solid 1px black;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFA;
    font-size: smaller;
}
.reviewauthor {
    font-size: smaller;
    font-style: italic;
}
.ednote {
    padding: 5px;
    border: solid 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ednotehead {
    font-weight: bold;
}

/* override mediawiki's beautiful DL styling... */
dl {
    background: white;
    width: 100%;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div {
    margin-top: 0;
    margin-bottom: 0;
}
#fulltitle {
    font-size: 140%;
    font-weight: bold;
}

.xml {
    color: red
}

.rdbms{
    color: red
}

/* just copying from wiki, so it stays through TR. Currently
  affects Primer, at least */
pre {
    background-color:#F9F9F9;
    border:1px dashed #2F6FAB;
    color:black;
    line-height:1.1em;
    padding:1em;
}

.image object {
    max-width: 100%;
}

/*
    Primer.css
 */
/* define a class "noprint" for sections which don't get printed */
.noprint { display: none; }

/* our syntax menu for switching */
div.syntaxmenu {
    border: 1px dotted black;
    padding:0.5em;
    margin: 1em;
}

@media print {
    div.syntaxmenu { display:none; }
}

/* use tab-like headers for syntax examples */
div.exampleheader {
    font-size: 90%;
    float: left;
    background: #F9F9F9;
    color: #2F6FAB;
    border: 1px dashed #2F6FAB;
    border-bottom: 0px;
    padding-top: 2px;
}

div.exampleheader span.exampleheader {
    background: #F9F9F9;
    padding-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 0px;
}

/* Also copy MediaWiki style here, so it will not look different when exported */
div.fssyntax pre, div.rdfxml pre, div.owlxml pre, div.turtle pre, div.manchester pre  {
    background-color: #F9F9F9;
    border: 1px dashed #2F6FAB;
    color: black;
    line-height: 1.1em;
    padding: 1em;
    clear: both;
    margin-left: 0em;
}
/* (further styles directly embedded in header template) */


/*
    extra.css
 */


.logic {
    color:purple;
    font-weight:bold;
}



.dotted {
    border-bottom: 1px dotted gray;
}

dt {
    margin-top:5px;
}

.description {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
    background-color: rgb(242, 243, 244);
    margin-top:5px;
    padding-bottom:5px;
}

.description dl {
    background-color: rgb(242, 243, 244);
}

.description ul {
    padding-left: 12px;
    margin-top: 0px;
}

.backlink {
    font-size:10pt;
    text-align:right;
    float:right;
    color:black;
    padding: 2px;
    border: 1px dotted navy;
    background-color: #F4FFFF;
}

.imageblock {
    text-align: center;
}

.imageblock img {
    border:1px solid gray;
}

.endnote {
    margin-top: 40px;
    border-top: 1px solid gray;
    padding-top: 10px;
    text-align: center;
    color:gray;
    font-size:70%;
}

.literal {
    color:green;
    font-style:italic;
}