    <h1>{{ name }}</h1>
    <section id="metadata">
      <dl>
        <dt>IRI</dt>
        <dd><code>{{ uri }}</code></dd>
        <dt>Publisher</dt>
        <dd><a href="http://catalogue.linked.data.gov.au/org/gsq">Geological Survey of Queensland</a></dd>
        <dt>Creator</dt>
        <dd><a href="http://orcid.org/0000-0002-8742-7730">Nicholas J. Car</a></dd>
        <dt>Created</dt>
        <dd>2019-04-30</dd>
        <dt>Modified</dt>
        <dd>2019-04-30</dd>
        {%- if description is not none %}
        <dt>Description</dt>
        <dd>{{ description }}</dd>
        {%- endif %}
        <dt>Version Information</dt>
        <dd>See the GitHub repo https://github.com/geological-survey-of-queensland/gsq-borehole-profile for versioning</dd>
      </dl>
    </section>
    <section>
      <h2>Table of Contents</h2>
      <ol>
        {% if has_classes %}
        <li><a href="#classes">Classes</a></li>
        {% endif %}
        {% if has_ops %}
        <li><a href="#objectproperties">Object Properties</a></li>
        {% endif %}
        {% if has_dps %}
        <li><a href="#dataproperties">Data Properties</a></li>
        {% endif %}
        {% if has_nis %}
        <li><a href="#namedindividuals">Named Individuals</a></li>
        {% endif %}
        <li><a href="#namespaces">Namespaces</a></li>
      </ol>
    </section>
    <section id="overview">
      <h2>Overview</h2>
      <div class="figure">
        <a href="model/properties.svg"><img src="model/properties.svg" title="overview diagram" /></a>
        <div class="caption"><strong>Figure 1:</strong> Properties of the Borehole class</div>
      </div>
    </section>