<html lang="en">
  <head>
    <title>GSQ Borehole Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="style/style.css">
  </head>
  <body>
    <img src="style/gsq.jpg" title="GSQ Logo" />
    <h1>GSQ Borehole Profile</h1>
    <section id="metadata">
      <!--<h2>Metadata</h2>-->
      <dl>
        <dt>IRI</dt>
        <dd><code>http://linked.data.gov.au/def/borehole</code></dd>
        <dt>Publisher</dt>
        <dd><a href="http://catalogue.linked.data.gov.au/org/gsq">Geological Survey of Queensland</a></dd>
        <dt>Creator</dt>
        <dd><a href="http://orcid.org/0000-0002-8742-7730">Nicholas J. Car</a></dd>
        <dt>Created</dt>
        <dd>2019-04-30</dd>
        <dt>Modified</dt>
        <dd>2019-04-30</dd>
        <dt>Description</dt>
        <dd>
          <p>
            The Geological Survey of Queensland's profile of several specifications to characterise a borehole.
          </p>
          <p>
            This profile contains alignments to specifications that it does not directly profile but is informed by, such as GeoSciML.
          </p>
        </dd>
        <dt>Version Information</dt>
        <dd>See the GitHub repo https://github.com/geological-survey-of-queensland/gsq-borehole-profile for versioning</dd>
      </dl>
    </section>
    <section>
      <h2>Table of Contents</h2>
      <ol>
        <li><a href="#classes">Classes</a></li>
        <li><a href="#objectproperties">Object Properties</a></li>
        <!--<li><a href="#dataproperties">Data Properties</a></li>-->
        <!--<li><a href="#namedindividuals">Named Individuals</a></li>-->
        <li><a href="#namespaces">Namespaces</a></li>
      </ol>
    </section>
    <section id="overview">
      <h2>Overview</h2>
      <div class="figure">
        <a href="model/properties.svg"><img src="model/properties.svg" title="overview diagram" /></a>
        <div class="caption"><strong>Figure 1:</strong> Properties of the Borehole class</div>
      </div>
    </section>
    <section id="classes">
      <h2>Classes</h2>
      <ul class="hlist">
        <li><a href="#Borehole">Borehole</a></li>
      </ul>
      <div class="entity class" id="Borehole">
        <h3>Borehole<sup title="class" class="type-c">c</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td>http://linked.data.gov.au/def/borehole/Borehole</td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              A borehole is a narrow shaft bored in the ground. A borehole may be constructed for many different purposes, including the extraction of water, other liquids (such as petroleum) or gases (such as natural gas), as part of a geotechnical investigation, environmental site assessment, mineral exploration, temperature measurement, as a pilot hole for installing piers or underground utilities, for geothermal installations, or for underground storage of unwanted substances, e.g. in carbon capture and storage.
            </td>
          </tr>
          <tr>
            <th>Super-classes</th>
            <td>
              <a href="#hasStatus">hasStatus</a><sup title="object property" class="type-op">op</sup> <em>exactly</em> <strong>1</strong>
            </td>
          </tr>
          <tr>
            <th>In domain of</th>
            <td>
              <ul class="hlist-simple">
                <li><a href="#hasStatus">hasStatus</a><sup title="object property" class="type-op">op</sup>,</li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
    </section>
    <section id="objectproperties">
      <h2>Object Properties</h2>
      <ul class="hlist">
        <li><a href="#driller">driller</a></li>
        <li><a href="#hasDiameter">hasDiameter</a></li>
        <li><a href="#hadDrillingMethod">hadDrillingMethod</a></li>
        <li><a href="#hadDrillingTime">hadDrillingTime</a></li>
        <li><a href="#hasElevation">hasElevation</a></li>
        <li><a href="#hasInclination">hasInclination</a></li>
        <li><a href="#hasPurpose">hasPurpose</a></li>
        <li><a href="#hasStateOrTerritory">hasStateOrTerritory</a></li>
        <li><a href="#hasStatus">hasStatus</a></li>
        <li><a href="#hasSurfaceCircumstance">hasSurfaceCircumstance</a></li>
        <li><a href="#operator">operator</a></li>
      </ul>
      <div class="entity property" id="driller">
        <h3>driller<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/driller</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              An organisation that drilled the borehole.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              If the borehole was drilled by multiple organisations, add multiple :driller properties. Different periods of drilling, as indicated by :hadDrillingTime may have the specific driller indicated by qualifying the Agent (driller) / Activity (drilling episode), as per PROV-O's qualifiedAssociation pattern.
            </td>
          </tr>
          <tr>
            <th>Super-properties</th>
            <td>
              <a href="http://www.w3.org/ns/prov#wasAttributedTo">prov:wasAttributedTo</a><sup title="object property" class="type-op">op</sup>
            </td>
          </tr>
          <tr>
            <th>Domain(s)</th>
            <td>
              (<a href="https://schema.org/domainIncludes">sdo:domainIncludes</a>) <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://www.w3.org/ns/prov#Agent">Agent</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hasDiameter">
        <h3>has diameter<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hasDiameter</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The average width of the borehole shaft.
            </td>
          </tr>
          <!--
          <tr>
            <th>Usage Note</th>
            <td>

            </td>
          </tr>
          -->
          <tr>
            <th>Super-properties</th>
            <td>
              <a href="http://qudt.org/schema/qudt/hasQuantity">qudt:hasQuantity</a>
            </td>
          </tr>
          <tr>
            <th>Domain(s)</th>
            <td>
              (<a href="https://schema.org/domainIncludes">sdo:domainIncludes</a>) <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://qudt.org/schema/qudt/">qudt:Quantity</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hadDrillingMethod">
        <h3>had drilling method<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hadDrillingMethod</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The method of drilling used to create this borehole.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              <p>
                Drilling Methods must be selected from the Borehole Drilling Methods vocabulary. If multiple methods were used, multiple :hadDrillingMethod properties should be used.
              </p>
              <p>
                This method is a sub property of the Loc-I Ontology's had:GenerationMethod which is a property chain axiom for PROV's  prov:wasGeneratedBy / prov:qualifiedAssociation / prov:hadPlan which allows an Entity (the borehole) to indicate the method (a PROV Plan) that was used to instruct the Activity that generated it (here the event of drilling).
              </p>
            </td>
          </tr>
          <!--
          <tr>
            <th>Super-properties</th>
            <td>
              <a href=""></a>
            </td>
          </tr>
          -->
          <tr>
            <th>Domain(s)</th>
            <td>
              <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hadDrillingTime">
        <h3>had drilling time<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hadDrillingTime</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The time period during which the borehole was drilled.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              If the borehole was drilled at multiple times, add multiple :hasDrillingTime properties.
            </td>
          </tr>
          <tr>
            <th>Super-properties</th>
            <td>
              <a href="http://www.w3.org/2006/time#hasTime">time:hasTime</a><sup title="object property" class="type-op">op</sup>
            </td>
          </tr>
          <tr>
            <th>Domain(s)</th>
            <td>
              (<a href="https://schema.org/domainIncludes">sdo:domainIncludes</a>) <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://www.w3.org/2006/time#ProperInterval">time:ProperInterval</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hasElevation">
        <h3>has elevation<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hasElevation</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The position of a borehole vertically, with reference to the earthe's surface.
            </td>
          </tr>
          <!--
          <tr>
            <th>Usage Note</th>
            <td>

            </td>
          </tr>
          <tr>
            <th>Super-properties</th>
            <td>
              <a href=""></a>
            </td>
          </tr>
          -->
          <tr>
            <th>Domain(s)</th>
            <td>
              (<a href="https://schema.org/domainIncludes">sdo:domainIncludes</a>) <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://linked.data.gov.au/def/geox/VerticalGeometry">geox:VerticalGeometry</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hasInclination">
        <h3>has inclination<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hasInclination</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The angle to the vertical of the borehole main shaft.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              Inclinations must be selected from the Borehole Inclination vocabulary. If the borehole shaft has multiple angles, multiple :hasInclination properties should be used.
            </td>
          </tr>
          <!--
          <tr>
            <th>Super-properties</th>
            <td>
              <a href=""></a>
            </td>
          </tr>
          -->
          <tr>
            <th>Domain(s)</th>
            <td>
              <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hasPurpose">
        <h3>has purpose<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hasPurpose</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The reason for which this borehole was drilled.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              Purposes must be selected from the Borehole Purpose vocabulary. Multiple purposes may be selected. If purposes are time-bound, this should be indicated by assigning the purpose a time:hasTime property.
            </td>
          </tr>
          <!--
          <tr>
            <th>Super-properties</th>
            <td>
              <a href=""></a>
            </td>
          </tr>
          -->
          <tr>
            <th>Domain(s)</th>
            <td>
              <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hasStateOrTerritory">
        <h3>has state or territory<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hasStateOrTerritory</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The Australian State or Territory that this borehole is jurisdictionally within.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              The borehole need bot be spatially within the Australian State or Territory.
            </td>
          </tr>
          <!--
          <tr>
            <th>Super-properties</th>
            <td>
              <a href=""></a>
            </td>
          </tr>
          -->
          <tr>
            <th>Domain(s)</th>
            <td>
              (<a href="https://schema.org/domainIncludes">sdo:domainIncludes</a>) <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://linked.data.gov.au/def/asgs#StateOrTerritory">asgs:StateOrTerritory</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hasStatus">
        <h3>has status<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hasStatus</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The lifecycle stage of the borehole.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              Status must be selected from the Borehole Status vocabulary.
            </td>
          </tr>
          <!--
          <tr>
            <th>Super-properties</th>
            <td>
              <a href=""></a>
            </td>
          </tr>
          -->
          <tr>
            <th>Domain(s)</th>
            <td>
              <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="hasSurfaceCircumstance">
        <h3>has surface circumstance<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/hasSurfaceCircumstance</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              The circumstances of a borehole's entrance.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              <p>
                Surface Circumstances must be selected from the Borehole Surface Circumstance vocabulary.
              </p>
              <p>
                This property maps to GeoSciML's Borehole Start property.
              </p>
            </td>
          </tr>
          <!--
          <tr>
            <th>Super-properties</th>
            <td>
              <a href=""></a>
            </td>
          </tr>
          -->
          <tr>
            <th>Domain(s)</th>
            <td>
              <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://www.w3.org/2004/02/skos/core#Concept">skos:Concept</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
      <div class="entity property" id="operator">
        <h3>operator<sup title="object property" class="type-op">op</sup></h3>
        <table>
          <tr>
            <th>IRI</th>
            <td><code>http://linked.data.gov.au/def/borehole/operator</code></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>
              An organisation that maintains/uses/runs the borehole.
            </td>
          </tr>
          <tr>
            <th>Usage Note</th>
            <td>
              If the borehole was/is operated by multiple organisations, add multiple :operator properties. Different periods of operation, may have the specific operator indicated by qualifying the Entity (Borehole) / Agent (operator) relations, as per PROV-O's qualifiedAttribution pattern.
            </td>
          </tr>
          <tr>
            <th>Super-properties</th>
            <td>
              <a href="http://www.w3.org/ns/prov#">prov:wasAttributedTo</a><sup title="object property" class="type-op">op</sup>
            </td>
          </tr>
          <tr>
            <th>Domain(s)</th>
            <td>
              (<a href="https://schema.org/domainIncludes">sdo:domainIncludes</a>) <a href="#Borehole">Borehole</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
          <tr>
            <th>Range(s)</th>
            <td>
              <a href="http://www.w3.org/ns/prov#Agent">Agent</a><sup title="class" class="type-c">c</sup>
            </td>
          </tr>
        </table>
      </div>
    </section>
    <!--
    <section id="dataproperties">
      <h2>Data Properties</h2>
    </section>
    <section id="namedindividuals">
      <h2>Named Individuals</h2>
    </section>
    -->
    <section id="namespaces">
      <h2>Namespaces</h2>
      <dl>
        {%- for key, value in namespaces.items() %}
        <dt>{{ key }}</dt>
        <dd><code>{{ value }}</code></dd>

        {%- endfor %}
      </dl>
    </section>
  </body>
</html>