
    <div class="entity property" id="{{ fid }}">
      <h3>{{ name }}
        {%- if property_type == 'http://www.w3.org/2002/07/owl#ObjectProperty' -%}
        <sup title="object property" class="type-op">op</sup>
        {%- elif property_type == 'http://www.w3.org/2002/07/owl#DatatypeProperty' -%}
        <sup title="datatype property" class="type-dp">dp</sup>
        {%- else -%}
        <sup title="annotation property" class="type-ap">ap</sup>
        {%- endif -%}
      </h3>
      <table>
        <tr>
          <th>IRI</th>
          <td><code>{{ uri }}</code></td>
        </tr>
        <tr>
        {%- if description is not none %}
          <th>Description</th>
          <td>
            {{ description }}
          </td>
        </tr>
        {%- endif %}
        {%- if usage is not none %}
        <tr>
          <th>Usage Note</th>
          <td>
            {{ usage }}
          </td>
        </tr>
        {%- endif %}
        {%- if super_properties is not none %}
        <tr>
          <th>Super-properties</th>
          <td>
            <a href="http://www.w3.org/ns/prov#wasAttributedTo">prov:wasAttributedTo</a><sup title="object property" class="type-op">op</sup>
          </td>
        </tr>
        {%- endif %}
        {%- if domains|length > 0 or domainIncludes|length > 0 %}
        <tr>
          <th>Domain(s)</th>
          <td>
          {%- if domains|length > 0 %}
          {%- for domain in domains %}
            <a href="{{ domain['uri'] }}">{{ domain['name'] }}</a><sup title="class" class="type-c">c</sup>
          {%- endfor %}
          {%- endif %}
          {%- if domainIncludes|length > 0 %}
          {%- for domainInclude in domainIncludes %}
            (<a href="https://schema.org/domainIncludes">sdo:domainIncludes</a>) <a href="{{ domainInclude['uri'] }}">{{ domainInclude['name'] }}</a><sup title="class" class="type-c">c</sup>
          {%- endfor %}
          {%- endif %}
          </td>
        </tr>
        {%- endif %}
        {%- if ranges|length > 0 or rangeIncludes|length > 0 %}
        <tr>
          <th>Range(s)</th>
          <td>
          {%- if ranges|length > 0 %}
          {%- for range in ranges %}
            <a href="{{ range['uri'] }}">{{ range['name'] }}</a><sup title="class" class="type-c">c</sup>
          {%- endfor %}
          {%- endif %}
          {%- if rangeIncludes|length > 0 %}
          {%- for rangeInclude in rangeIncludes %}
            (<a href="https://schema.org/domainIncludes">sdo:rangeIncludes</a>) <a href="{{ rangeInclude['uri'] }}">{{ rangeInclude['name'] }}</a><sup title="class" class="type-c">c</sup>
          {%- endfor %}
          {%- endif %}
          </td>
        </tr>
        {%- endif %}
      </table>
    </div>