    <section id="objectproperties">
      <h2>Object Properties</h2>
      <ul class="hlist">
      {%- for instance in op_instances %}
          <li><a href="#{{ instance.fid }}">{{ instance.name }}</a></li>
      {%- endfor %}
      </ul>
      {%- for instance in op_instances %}
          {{ instance.html }}
      {%- endfor %}
    </section>

    <section id="datatypeproperties">
      <h2>Datatype Properties</h2>
      <ul class="hlist">
      {%- for instance in dtp_instances %}
          <li><a href="#{{ instance.fid }}">{{ instance.name }}</a></li>
      {%- endfor %}
      </ul>
      {%- for instance in dtp_instances %}
          {{ instance.html }}
      {%- endfor %}
    </section>

    <section id="annotationproperties">
      <h2>Annotation Properties</h2>
      <ul class="hlist">
      {%- for instance in ap_instances %}
          <li><a href="#{{ instance.fid }}">{{ instance.name }}</a></li>
      {%- endfor %}
      </ul>
      {%- for instance in ap_instances %}
          {{ instance.html }}
      {%- endfor %}
    </section>